body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #4CAF50;
    overflow: hidden;
    padding: 14px 20px;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    align-items: center;
}


.navbar i {
    margin-right: 8px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    padding: 20px;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.dashboard-item {
    background-color: white;
    padding: 20px;
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    left: -250px;
    top: 0;
    background-color: rgb(4, 68, 28);
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 2;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidebar p{
    margin-left: 12px;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.profile-header {
    text-align: center;
    padding: 20px;
}

.profile-header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-header h2 {
    margin: 0;
}

.profile-header p {
    margin: 5px 0;
    color: #818181;
}

.badge {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    display: none;
    transition: 0.5s;
}