body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('agri2.jpg'); 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 24px;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}
#name, #email, #profile-picture , #phone, #address, #city, #village, #state, #pincode, #password{
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    width: 48%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

footer {
    margin-top: 20px;
}

footer p {
    font-size: 14px;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;}
